MSP430FR5994/Resources/MSP-EXP430FR5994_Software_Examples_windows.zip
/.metadata/
.jxbrowser-data/
RemoteSystemsTempFiles/
MSP430FR5994/Examples/LEDs/Debug/
MSP430FR5994/Examples/TIMERA_TIMERB/Debug/
MSP430FR5994/Examples/WDT_Timer/Debug/
MSP430FR5994/Examples/WDT/Debug/
MSP430FR5994/Examples/WDT/.launches/WDT.launch
MSP430FR5994/Examples/GPIO_IN/Debug/
